@import "../../app.scss";

.skill {
  height: 100%;
  max-width: 1266px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  @include mobile {
    width: 90%;
    height: fit-content;

    margin: auto;
    flex-direction: column;
    margin-top: 6.5rem;
  }

  .titleContainer {
    font-size: 80px;
    width: fit-content;
    font-weight: 500;

    @include mobile {
      font-size: 40px;
      align-self: center;
      margin-bottom: 8px;
    }
  }

  .boxContainer {
    width: 100%;
    gap: 20px;
    display: flex;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .box {
      flex: 1;
      padding: 20px;
      background-color: #10102a;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 10px;

      @include mobile {
        width: 100%;
        gap: 10px;
      }

      .boxTitle {
        color: gray;
        font-size: 20px;
      }

      .boxContent {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        p {
          padding: 10px;
          background-color: #222248;
          border-radius: 6px;
          border: 0.5px solid #23237e;
        }
      }
    }
  }
}
